[{ edrone_pilot, 
   [ 
     { joystick_device, "/dev/input/event18" },   %% Input device to read
     { x_min, 0 },  %% Min x axis value
     { x_max, 1024 },  %% Max x axis value
     { y_min, 0 },  %% Min y axis valuie
     { y_max, 1024 },  %% Max y axis value
     { yaw_min, 0 },  %% Min yaw axis valuie
     { yaw_max, 255 },  %% Max yaw axis value
     { throttle_min, 0 },  %% Min yaw axis valuie
     { throttle_max, 255 },  %% Max yaw axis value


     { drone_address, {"192.168.111.1", 4509} }%% IP address and port of drone
     ]
   }
].

		   
